In [1]:
import numpy as np
import pandas as pd

#### Spanish GitHub Dataset

In [2]:
df1_train = pd.read_excel('../data/Spanish_GitHub/train.xlsx', index_col=0)
df1_train

,Category,Topic,Source,Headline,Text,Link
Id,,,,,,
1,Fake,Education,El Ruinaversal,"RAE INCLUIRÁ LA PALABRA ""LADY"" EN EL DICCIONAR...","RAE INCLUIRÁ LA PALABRA ""LADY"" EN EL DICCIONAR...",http://www.elruinaversal.com/2017/06/10/rae-in...
2,Fake,Education,Hay noticia,"La palabra ""haiga"", aceptada por la RAE","La palabra ""haiga"", aceptada por la RAE La Rea...",https://haynoticia.es/la-palabra-haiga-aceptad...
3,Fake,Education,El Ruinaversal,YORDI ROSADO ESCRIBIRÁ Y DISEÑARÁ LOS NUEVOS L...,YORDI ROSADO ESCRIBIRÁ Y DISEÑARÁ LOS NUEVOS L...,http://www.elruinaversal.com/2018/05/06/yordi-...
4,True,Education,EL UNIVERSAL,UNAM capacitará a maestros para aprobar prueba...,UNAM capacitará a maestros para aprobar prueba...,http://www.eluniversal.com.mx/articulo/nacion/...
5,Fake,Education,Lamula,pretenden aprobar libros escolares con conteni...,Alerta: pretenden aprobar libros escolares con...,https://redaccion.lamula.pe/2018/06/19/memoria...
...,...,...,...,...,...,...
672,Fake,Entertainment,El Dizque,Madonna será la nueva imagen del Chocolate Abu...,Madonna será la nueva imagen del Chocolate Abu...,https://www.eldizque.com/madonna-sera-la-nueva...
673,True,Entertainment,Radio Formula,"Filtran material íntimo de Zelina Vega, luchad...","Filtran material íntimo de Zelina Vega, luchad...",http://www.radioformula.com.mx/notas.asp?Idn=7...
674,Fake,Entertainment,La Voz Popular,CBS PLANEA GRAN HERMANO EN LA CASA BLANCA CON ...,CBS PLANEA GRAN HERMANO EN LA CASA BLANCA CON ...,http://lavozpopular.com/cbs-planea-gran-herman...
675,Fake,Entertainment,El Dizque,TV Azteca anuncia que cambiará su nombre por u...,TV Azteca anuncia que cambiará su nombre por u...,https://www.eldizque.com/tv-azteca-anuncia-que...
676,Fake,Entertainment,La voz popular,MUERTE DE PETER EL ANGUILA POR SOBREDOSIS,MUERTE DE PETER EL ANGUILA POR SOBREDOSIS\nPet...,http://lavozpopular.com/muerte-peter-el-anguil...

In [3]:
df1_test = pd.read_excel('../data/Spanish_GitHub/test.xlsx', index_col=0)
df1_test

,Category,Topic,Source,Headline,Text,Link
Id,,,,,,
1,Fake,Education,El Ruinaversal,MAESTRA DE *NUMBER* AÑOS QUE TUVO RELACIONES C...,MAESTRA DE *NUMBER* AÑOS QUE TUVO RELACIONES C...,http://www.elruinaversal.com/2017/06/04/maestr...
2,True,Education,Heraldo,Oxford lanza sus propios exámenes de certifica...,Oxford lanza sus propios exámenes de certifica...,https://www.heraldo.es/noticias/sociedad/2017/...
3,True,Education,abc,La RAE estudia incluir «machirulo» en el Dicci...,La RAE estudia incluir «machirulo» en el Dicci...,https://www.abc.es/cultura/abci-estudia-inclui...
4,True,Education,El país,Malala Yousafzai anuncia que estudiará en Oxford,Malala Yousafzai anuncia que estudiará en Oxfo...,https://elpais.com/internacional/2017/08/17/ac...
5,Fake,Education,El Ruinaversal,Nombran a Ricardo Arjona nuevo miembro de la R...,Nombran a Ricardo Arjona nuevo miembro de la R...,http://www.elruinaversal.com/2017/06/25/nombra...
...,...,...,...,...,...,...
291,True,Entertainment,HUFFPOST,Meryl Streep disfrutó unos premios Oscar tan m...,Meryl Streep disfrutó unos premios Oscar tan m...,https://www.huffingtonpost.com.mx/2018/03/06/m...
292,Fake,Entertainment,La voz popular,EL PLAGIO DE LANA DEL REY A RADIOHEAD FUE ACOR...,EL PLAGIO DE LANA DEL REY A RADIOHEAD FUE ACOR...,http://lavozpopular.com/plagio-lana-del-rey-ra...
293,True,Entertainment,Billboard,Ricardo Arjona lanza una serie documental por ...,Ricardo Arjona lanza una serie documental por ...,http://www.billboard.com.ar/noticia/2980/ricar...
294,True,Entertainment,EL UNIVERSAL,Raúl Araiza sorprende a Andrea Legarreta con b...,Raúl Araiza sorprende a Andrea Legarreta con b...,http://www.eluniversal.com.mx/espectaculos/rau...
295,Fake,Entertainment,El Dizque,Adal Ramones protagonizará el remake de El Cha...,Adal Ramones protagonizará el remake de El Cha...,https://www.eldizque.com/adal-ramones-protagon...

In [5]:
print(df1_train.columns)
print(df1_test.columns)

Index(['Category', 'Topic', 'Source', 'Headline', 'Text', 'Link'], dtype='object')
Index(['Category', 'Topic', 'Source', 'Headline', 'Text', 'Link'], dtype='object')

In [6]:
df1_train.describe().Category

count      676
unique       2
top       Fake
freq       338
Name: Category, dtype: object

In [7]:
df1_test.describe().Category

count      295
unique       2
top       True
freq       153
Name: Category, dtype: object

#### Spanish Kaggle Dataset

1 - Fake; 0 - True

In [8]:
df2_train = pd.read_csv('../data/Spanish_Kaggle/train.csv')
df2_train

,title,text,label
0,NaN,El suceso ha tenido lugar en Brasil. Un adole...,1
1,"""La quimioterapia mata a la gente y no al cánc...",Estamos en la semana decisiva. Los expertos a...,1
2,Los Cubos De Caldo Para Cocinar Son Veneno Par...,Estudios científicos hay muchos. Unos nos int...,1
3,MEGATERREMOTO EN LOS PRÓXIMOS DÍAS ALINEACIÓN ...,Ha sucedido en la ciudad de San José de Río P...,1
4,¡Qué injusticia! El perro que defendió su casa...,La fiesta en Sevilla por el vuelco electoral ...,1
...,...,...,...
1595,El 81% de las familias españolas prefieren los...,"Recuperamos la historia de Aleixandra, la jove...",0
1596,AEGC denuncia una frontera desprotegida por fa...,"Reproches, tensión y sinceridad: la comida en ...",0
1597,Huawei fía su supervivencia a la innovación,"RT @ElMundoOpinion: ""PSOE, PP, Ciudadanos y Vo...",0
1598,La Marina marroquí intercepta a 247 emigrantes...,Rusia cita al embajador español por unas decla...,0
1599,Un joven marroquí ataca a una mujer en Caspe y...,"Saeed Malekpour fue detenido en 2008, cuando v...",0

In [8]:
k1 = df2_train.isna().sum()
k1

title    498
text       0
label      0
dtype: int64

In [10]:
df2_test = pd.read_csv('../data/Spanish_Kaggle/test.csv')
df2_test

,title,text
0,Podemos estudia en su programa playas para muj...,Spanish nationalism rabid that a Catalan compa...
1,Alemania va a quitar los hijos a los padres po...,"Su amante, llamó al marido llorando y le contó..."
2,Valencia multará los balcones con banderas por...,SUBEN LAS PENSIONES 1 EURO Y SUBEN EL RECIBO D...
3,Un directivo de Hazte Oír se besa con una muje...,"Suecia está haciendo un experimento, ha reduci..."
4,Iglesias y Montero se compran también un apart...,Suecia sigue avanzando hacia su islamización. ...
...,...,...
395,"Aumenta un 88,7% el número de autónomos mayore...",El Consejo de Gobierno ha dado su visto bueno...
396,Asesinan a un periodista involucrado en la luc...,Investigadores valencianos han desarrollado u...
397,La fértil cosecha de Porfirio Fisac en el Zara...,Los arrestados actuaban en coches y en establ...
398,Antonio Banderas: Mi novia me salvó la vida co...,El Rey ha encargado este miércoles a Pedro Sá...
399,"Cuatro quesos de Castilla-La Mancha, entre los...",Las pruebas realizadas en el Centro Nacional ...

### Merge

In [12]:
df1m_train = df1_train[['Text', 'Category']]
df1m_train.columns = ['text', 'label']
df1m_train['label'].replace(to_replace='Fake', value=1, inplace=True)
df1m_train['label'].replace(to_replace='True', value=0, inplace=True)
df1m_train.index.name = 'id'
df1m_train

                                                  text  label
id
1    RAE INCLUIRÁ LA PALABRA "LADY" EN EL DICCIONAR...      1
2    La palabra "haiga", aceptada por la RAE La Rea...      1
3    YORDI ROSADO ESCRIBIRÁ Y DISEÑARÁ LOS NUEVOS L...      1
4    UNAM capacitará a maestros para aprobar prueba...      0
5    Alerta: pretenden aprobar libros escolares con...      1
..                                                 ...    ...
672  Madonna será la nueva imagen del Chocolate Abu...      1
673  Filtran material íntimo de Zelina Vega, luchad...      0
674  CBS PLANEA GRAN HERMANO EN LA CASA BLANCA CON ...      1
675  TV Azteca anuncia que cambiará su nombre por u...      1
676  MUERTE DE PETER EL ANGUILA POR SOBREDOSIS\nPet...      1

[676 rows x 2 columns]

In [13]:
df1m_test = df1_test[['Text', 'Category']]
df1m_test.columns = ['text', 'label']
df1m_test['label'].replace(to_replace='Fake', value=1, inplace=True)
df1m_test['label'].replace(to_replace='True', value=0, inplace=True)
df1m_test

                                                  text  label
Id
1    MAESTRA DE *NUMBER* AÑOS QUE TUVO RELACIONES C...      1
2    Oxford lanza sus propios exámenes de certifica...      0
3    La RAE estudia incluir «machirulo» en el Dicci...      0
4    Malala Yousafzai anuncia que estudiará en Oxfo...      0
5    Nombran a Ricardo Arjona nuevo miembro de la R...      1
..                                                 ...    ...
291  Meryl Streep disfrutó unos premios Oscar tan m...      0
292  EL PLAGIO DE LANA DEL REY A RADIOHEAD FUE ACOR...      1
293  Ricardo Arjona lanza una serie documental por ...      0
294  Raúl Araiza sorprende a Andrea Legarreta con b...      0
295  Adal Ramones protagonizará el remake de El Cha...      1

[295 rows x 2 columns]

In [14]:
df2m_train = df2_train[['text', 'label']]
df2m_train.index.name = 'id'
df2m_train

                                                   text  label
id
0      El suceso ha tenido lugar en Brasil. Un adole...      1
1      Estamos en la semana decisiva. Los expertos a...      1
2      Estudios científicos hay muchos. Unos nos int...      1
3      Ha sucedido en la ciudad de San José de Río P...      1
4      La fiesta en Sevilla por el vuelco electoral ...      1
...                                                 ...    ...
1595  Recuperamos la historia de Aleixandra, la jove...      0
1596  Reproches, tensión y sinceridad: la comida en ...      0
1597  RT @ElMundoOpinion: "PSOE, PP, Ciudadanos y Vo...      0
1598  Rusia cita al embajador español por unas decla...      0
1599  Saeed Malekpour fue detenido en 2008, cuando v...      0

[1600 rows x 2 columns]

In [16]:
merge = df1m_train.append(df1m_test, ignore_index = True)
merge.index.name = 'id'
merge = merge.append(df2m_train, ignore_index = True)
merge.index.name = 'id'
merge

                                                   text  label
id
0     RAE INCLUIRÁ LA PALABRA "LADY" EN EL DICCIONAR...      1
1     La palabra "haiga", aceptada por la RAE La Rea...      1
2     YORDI ROSADO ESCRIBIRÁ Y DISEÑARÁ LOS NUEVOS L...      1
3     UNAM capacitará a maestros para aprobar prueba...      0
4     Alerta: pretenden aprobar libros escolares con...      1
...                                                 ...    ...
2566  Recuperamos la historia de Aleixandra, la jove...      0
2567  Reproches, tensión y sinceridad: la comida en ...      0
2568  RT @ElMundoOpinion: "PSOE, PP, Ciudadanos y Vo...      0
2569  Rusia cita al embajador español por unas decla...      0
2570  Saeed Malekpour fue detenido en 2008, cuando v...      0

[2571 rows x 2 columns]

#### Save (export) dataset

In [17]:
merge.to_csv('../data/Merged/spanish_dataset.csv', index = False)

In [2]:
dataset = pd.read_csv('../data/Merged/spanish_dataset.csv')
dataset

                                                   text  label
0     RAE INCLUIRÁ LA PALABRA "LADY" EN EL DICCIONAR...      1
1     La palabra "haiga", aceptada por la RAE La Rea...      1
2     YORDI ROSADO ESCRIBIRÁ Y DISEÑARÁ LOS NUEVOS L...      1
3     UNAM capacitará a maestros para aprobar prueba...      0
4     Alerta: pretenden aprobar libros escolares con...      1
...                                                 ...    ...
2566  Recuperamos la historia de Aleixandra, la jove...      0
2567  Reproches, tensión y sinceridad: la comida en ...      0
2568  RT @ElMundoOpinion: "PSOE, PP, Ciudadanos y Vo...      0
2569  Rusia cita al embajador español por unas decla...      0
2570  Saeed Malekpour fue detenido en 2008, cuando v...      0

[2571 rows x 2 columns]

In [3]:
dataset.isna().sum()

text     0
label    0
dtype: int64

In [12]:
print(dataset[dataset.label == 1].count())
print(dataset[dataset.label == 0].count())

text     1280
label    1280
dtype: int64
text     1291
label    1291
dtype: int64