In [1]:
import numpy as np
import pandas as pd
import re
import string
import nltk
nltk.download('punkt')
nltk.download('stopwords')
#from nltk import word_tokenize
from nltk.stem import SnowballStemmer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Kevin\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Kevin\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [2]:
train = pd.read_csv('../data/Merged/train.csv')
train

                                                   text  label
0     RAE INCLUIRÁ LA PALABRA "LADY" EN EL DICCIONAR...      1
1     La palabra "haiga", aceptada por la RAE La Rea...      1
2     YORDI ROSADO ESCRIBIRÁ Y DISEÑARÁ LOS NUEVOS L...      1
3     UNAM capacitará a maestros para aprobar prueba...      0
4     Alerta: pretenden aprobar libros escolares con...      1
...                                                 ...    ...
2271  Recuperamos la historia de Aleixandra, la jove...      0
2272  Reproches, tensión y sinceridad: la comida en ...      0
2273  RT @ElMundoOpinion: "PSOE, PP, Ciudadanos y Vo...      0
2274  Rusia cita al embajador español por unas decla...      0
2275  Saeed Malekpour fue detenido en 2008, cuando v...      0

[2276 rows x 2 columns]

In [3]:
test = pd.read_csv('../data/Merged/test.csv')
test

                                                  text  label
0    MAESTRA DE *NUMBER* AÑOS QUE TUVO RELACIONES C...      1
1    Oxford lanza sus propios exámenes de certifica...      0
2    La RAE estudia incluir «machirulo» en el Dicci...      0
3    Malala Yousafzai anuncia que estudiará en Oxfo...      0
4    Nombran a Ricardo Arjona nuevo miembro de la R...      1
..                                                 ...    ...
290  Meryl Streep disfrutó unos premios Oscar tan m...      0
291  EL PLAGIO DE LANA DEL REY A RADIOHEAD FUE ACOR...      1
292  Ricardo Arjona lanza una serie documental por ...      0
293  Raúl Araiza sorprende a Andrea Legarreta con b...      0
294  Adal Ramones protagonizará el remake de El Cha...      1

[295 rows x 2 columns]

In [4]:
def max_length_text(df):
    max_length = 0
    for i in range(df.shape[0]):
        length = np.size(word_tokenize(df.at[i, 'text']))
        if length > max_length: max_length = length
    return max_length

In [16]:
def text_normalization(data):
    data['text'] = data['text'].apply(lambda x: x.lower())
    data['text'] = data['text'].apply((lambda x: re.sub('[%s]' % re.escape(string.punctuation), '', x)))

In [17]:
def remove_stop_words(data, language):
    stopwords = nltk.corpus.stopwords.words(language)
    for i in range(data.shape[0]):
        data.at[i, 'text'] = [word for word in nltk.word_tokenize(data.at[i, 'text']) if word not in stopwords]
        data.at[i, 'text'] = ' '.join(data.at[i, 'text'])

In [18]:
def apply_stemming(data, language):
    stemmer = SnowballStemmer(language)
    for i in range(data.shape[0]):
         data.at[i, 'text'] = (' '.join([stemmer.stem(word) for word in data.at[i, 'text'].split()]))

get_matrix representation

In [23]:
def get_matrix(data, representation, vocabulary_length = 2000, stop_words_flag = True, language = 'spanish'):

    df = data.copy(deep = True)
    
    text_normalization(df) # Text normalization
    
    # Stop_words
    if stop_words_flag:
        remove_stop_words(df, language)
    
    apply_stemming(df, language) # Stemming
    
    # Word representation
    if representation == 'BoW':
        count_vectorizer = CountVectorizer(max_features = vocabulary_length)
        matrix = count_vectorizer.fit_transform(df.text)
        
    elif representation == 'tf-idf':
        tfidf_vectorizer = TfidfVectorizer(max_features = vocabulary_length, use_idf=True)
        matrix = tfidf_vectorizer.fit_transform(df.text)
    
    return matrix, df

In [24]:
print(test.at[0, 'text'])

MAESTRA DE *NUMBER* AÑOS QUE TUVO RELACIONES CON UN ALUMNO DE *NUMBER* DARÁ EDUCACIÓN SEXUAL EN EL CONALEP
Estados Unidos.- Luego de que se revelará el caso de una maestra estadounidense de *NUMBER* años de nombre Alexandria Vera que fue acusada de abusar de uno de sus alumno de *NUMBER* años (con quien tuvo un noviazgo e incluso quedó embarazada), el juez que analizó la situación finalmente determinó que la profesora no será encarcelada pero si deberá pagar una multa de USD*NUMBER* mil dólares, alejarse del adolescente para siempre, y dar un servicio comunitario de *NUMBER* horas como profesora en un CONALEP de la Ciudad de México.
El juez señala que el chico involucrado confesó que "tuvo relaciones con su consentimiento" y además sus papás aprobaban el noviazgo:
"Es un caso que llamó la atención de los medios internacionales porque ella tiene *NUMBER* y es muy atractiva, y él es un joven de apenas *NUMBER* años.
Como el juez que iba a determinar el castigo sentía la presión de muchas personas que querían que metiera a la cárcel a la maestra, sin embargo tuve que ser objetivo: fue el propio joven y sus padres quienes me pidieron que la dejara en libertad.
Además la verdad recordé que en mi etapa de secundaria yo y todos mis compañeros fantaseábamos con nuestras maestras (risas), así que pensé, ¿por qué ser tan severo si todos alguna vez tuvimos esa fantasía de chicos?.
Decidí que Alexandria no pisará la cárcel pero como castigo tendrá que ir a un CONALEP a dar clases. Todos sabemos la fama que tiene los del CONA, así que será un reto muy fuerte para ella contenerse porque si vuelve a cometer el mismo delito esta vez no se salvará de pisar la cárcel", confesó.
El magistrado señala que tomó la decisión de mandarla a la prepa mexicana para ponerle una "prueba de fuego":
"La profesora dejó en claro que le gustan chavitos y en el CONA los chicos estarán más que dispuestos a darle entrada porque ella es muy guapa.
Creo que es una prueba fuerte pero sensata para demostrar que efectivamente cambió y también ya está advertida; si ella vuelve a hacer lo mismo que con su anterior alumno esta vez no se salvará de pisar la cárcel.
Además, independientemente de la situación por la que fue enviada (abuso de menores), el CONA es un lugar en donde debe cuidarse y estar siempre alerta porque el ambiente en cuestión de seguridad está muy pesado. Será como si la mandáramos a una cárcel de un país centroamericano, solo que será temporal y no estará encerrada para siempre", puntualizó.

In [26]:
matrix, df = get_matrix(test, representation = 'BoW')
print(df.at[0, 'text'])
print(matrix.shape)
print(matrix.toarray())

maestr numb años relacion alumn numb dar educ sexual conalep unid lueg revel cas maestr estadounidens numb años nombr alexandri ver acus abus alumn numb años noviazg inclus qued embaraz juez analiz situacion final determin profesor encarcel si deb pag mult usdnumb mil dolar alej adolescent siempr dar servici comunitari numb hor profesor conalep ciud mexic juez señal chic involucr confes relacion consent ademas papas aprob noviazg cas llam atencion medi internacional numb atract jov apen numb años juez iba determin castig sent presion much person quer met carcel maestr embarg ser objet propi jov padr pid dej libert ademas verd record etap secundari compañer fantas maestr ris asi pens ¿por ser tan sever si algun vez fantas chic decid alexandri pis carcel castig ir conalep dar clas sab fam con asi ret fuert conten si vuelv comet mism delit vez salv pis carcel confes magistr señal tom decision mand prep mexican pon prueb fueg profesor dej clar gust chavit con chic dispuest darl entrad guap cre prueb fuert sensat demostr efect camb advert si vuelv hac mism anterior alumn vez salv pis carcel ademas independient situacion envi abus menor con lug deb cuid siempr alert ambient cuestion segur pes si mand carcel pais centroamerican sol temporal encerr siempr puntualiz
(295, 2000)
[[0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 ...
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]]

In [27]:
print(matrix[0])

  (0, 1128)	4
  (0, 1292)	7
  (0, 205)	4
  (0, 1623)	2
  (0, 94)	3
  (0, 518)	3
  (0, 655)	1
  (0, 1739)	1
  (0, 1906)	1
  (0, 1117)	1
  (0, 1654)	1
  (0, 304)	2
  (0, 747)	1
  (0, 1281)	1
  (0, 1942)	1
  (0, 34)	1
  (0, 983)	1
  (0, 1563)	1
  (0, 676)	1
  (0, 1059)	3
  (0, 110)	1
  (0, 1771)	2
  (0, 830)	1
  (0, 582)	2
  (0, 1516)	3
  :	:
  (0, 351)	1
  (0, 915)	1
  (0, 621)	1
  (0, 519)	1
  (0, 710)	1
  (0, 477)	1
  (0, 549)	1
  (0, 657)	1
  (0, 266)	1
  (0, 48)	1
  (0, 921)	1
  (0, 120)	1
  (0, 985)	1
  (0, 717)	1
  (0, 1188)	1
  (0, 1118)	1
  (0, 502)	1
  (0, 81)	1
  (0, 98)	1
  (0, 501)	1
  (0, 1718)	1
  (0, 1409)	1
  (0, 1353)	1
  (0, 1775)	1
  (0, 1559)	1

In [28]:
df

                                                  text  label
0    maestr numb años relacion alumn numb dar educ ...      1
1    oxford lanz propi examen certif nivel ingles e...      0
2    rae estudi inclu « machirul » diccionari acade...      0
3    malal yousafzai anunci estudi oxford nobel paz...      0
4    nombr ricard arjon nuev miembr real academi es...      1
..                                                 ...    ...
290  meryl streep disfrut premi oscar tan mexican ¡...      0
291  plagi lan rey radioh acord ambos lan rey anunc...      1
292  ricard arjon lanz seri documental youtub sol c...      0
293  raul araiz sorprend andre legarret bes boc vay...      0
294  adal ramon protagoniz remak chav ocho chav och...      1

[295 rows x 2 columns]

In [29]:
matrix, df = get_matrix(test, representation = 'tf-idf')
print(df.at[0, 'text'])
print(matrix.shape)
print(matrix.toarray())

maestr numb años relacion alumn numb dar educ sexual conalep unid lueg revel cas maestr estadounidens numb años nombr alexandri ver acus abus alumn numb años noviazg inclus qued embaraz juez analiz situacion final determin profesor encarcel si deb pag mult usdnumb mil dolar alej adolescent siempr dar servici comunitari numb hor profesor conalep ciud mexic juez señal chic involucr confes relacion consent ademas papas aprob noviazg cas llam atencion medi internacional numb atract jov apen numb años juez iba determin castig sent presion much person quer met carcel maestr embarg ser objet propi jov padr pid dej libert ademas verd record etap secundari compañer fantas maestr ris asi pens ¿por ser tan sever si algun vez fantas chic decid alexandri pis carcel castig ir conalep dar clas sab fam con asi ret fuert conten si vuelv comet mism delit vez salv pis carcel confes magistr señal tom decision mand prep mexican pon prueb fueg profesor dej clar gust chavit con chic dispuest darl entrad guap cre prueb fuert sensat demostr efect camb advert si vuelv hac mism anterior alumn vez salv pis carcel ademas independient situacion envi abus menor con lug deb cuid siempr alert ambient cuestion segur pes si mand carcel pais centroamerican sol temporal encerr siempr puntualiz
(295, 2000)
[[0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 ...
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]]

In [30]:
print(matrix[0])

  (0, 1559)	0.04986403033763974
  (0, 1775)	0.029450468850242727
  (0, 1353)	0.03010380708550428
  (0, 1409)	0.03725603390799652
  (0, 1718)	0.04337679317119601
  (0, 501)	0.052429212634438345
  (0, 98)	0.06701612076924612
  (0, 81)	0.07014909311175736
  (0, 502)	0.06440798794871706
  (0, 1118)	0.04246706952091257
  (0, 1188)	0.06116621721797506
  (0, 717)	0.052997002680150986
  (0, 985)	0.06116621721797506
  (0, 120)	0.059327328922508596
  (0, 921)	0.02798572301563638
  (0, 48)	0.07014909311175736
  (0, 266)	0.07198798140722382
  (0, 657)	0.052997002680150986
  (0, 549)	0.05619435657999736
  (0, 477)	0.03683967575296423
  (0, 710)	0.06565765516486621
  (0, 519)	0.054835890975617446
  (0, 621)	0.05848320413146177
  (0, 915)	0.05768238728920992
  (0, 351)	0.04986403033763974
  :	:
  (0, 1516)	0.18349865165392518
  (0, 582)	0.12434765047220216
  (0, 830)	0.03976856014972311
  (0, 1771)	0.10717244751893658
  (0, 110)	0.05848320413146177
  (0, 1059)	0.2104472793352721
  (0, 676)	0.07014909311175736
  (0, 1563)	0.04160744844518958
  (0, 983)	0.04467858900181547
  (0, 34)	0.05768238728920992
  (0, 1942)	0.04467858900181547
  (0, 1281)	0.046860623099961154
  (0, 747)	0.054835890975617446
  (0, 304)	0.06574088772330573
  (0, 1654)	0.04467858900181547
  (0, 1117)	0.0430676245430358
  (0, 1906)	0.03768380054401105
  (0, 1739)	0.0632509768236871
  (0, 655)	0.06217382523610108
  (0, 518)	0.1382966591762422
  (0, 94)	0.21596394422167148
  (0, 1623)	0.0861352490860716
  (0, 205)	0.12898344141514811
  (0, 1292)	0.13733481404103523
  (0, 1128)	0.29629096405174354