In [39]:
import numpy as np
import pandas as pd
import nltk
nltk.download('punkt')
nltk.download('stopwords')
from nltk import word_tokenize
from nltk.stem import SnowballStemmer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Kevin\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Kevin\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [3]:
train = pd.read_csv('../data/Merged/train.csv')
train

      label                                               text
0         0  RAE INCLUIRÁ LA PALABRA "LADY" EN EL DICCIONAR...
1         0  La palabra "haiga", aceptada por la RAE La Rea...
2         0  YORDI ROSADO ESCRIBIRÁ Y DISEÑARÁ LOS NUEVOS L...
3         1  UNAM capacitará a maestros para aprobar prueba...
4         0  Alerta: pretenden aprobar libros escolares con...
...     ...                                                ...
2271      0  Recuperamos la historia de Aleixandra, la jove...
2272      0  Reproches, tensión y sinceridad: la comida en ...
2273      0  RT @ElMundoOpinion: "PSOE, PP, Ciudadanos y Vo...
2274      0  Rusia cita al embajador español por unas decla...
2275      0  Saeed Malekpour fue detenido en 2008, cuando v...

[2276 rows x 2 columns]

In [4]:
test = pd.read_csv('../data/Merged/test.csv')
test

     label                                               text
0        0  MAESTRA DE *NUMBER* AÑOS QUE TUVO RELACIONES C...
1        1  Oxford lanza sus propios exámenes de certifica...
2        1  La RAE estudia incluir «machirulo» en el Dicci...
3        1  Malala Yousafzai anuncia que estudiará en Oxfo...
4        0  Nombran a Ricardo Arjona nuevo miembro de la R...
..     ...                                                ...
290      1  Meryl Streep disfrutó unos premios Oscar tan m...
291      0  EL PLAGIO DE LANA DEL REY A RADIOHEAD FUE ACOR...
292      1  Ricardo Arjona lanza una serie documental por ...
293      1  Raúl Araiza sorprende a Andrea Legarreta con b...
294      0  Adal Ramones protagonizará el remake de El Cha...

[295 rows x 2 columns]

In [5]:
def max_length(df):
    max_length = 0
    for i in range(df.shape[0]):
        length = np.size(word_tokenize(df.at[i, 'text']))
        if length > max_length: max_length = length
    return max_length

NLTK

In [27]:
def remove_stop_words(data):
    stopwords = nltk.corpus.stopwords.words('spanish')
    tokenizer = nltk.RegexpTokenizer(r"\w+")
    for i in range(df.shape[0]):
        df.at[i, 'text'] = [word.lower() for word in tokenizer.tokenize(df.at[i, 'text']) if word not in stopwords]

In [81]:
def only_remove_punctuation(data):
    tokenizer = nltk.RegexpTokenizer(r"\w+")
    for i in range(df.shape[0]):
        df.at[i, 'text'] = [word.lower() for word in tokenizer.tokenize(df.at[i, 'text'])]

get_matrix representation

In [82]:
def get_matrix(data, representation, vocabulary_length, stop_words_flag):

    # Stemming
    stemmer = SnowballStemmer('spanish')
    for i in range(df.shape[0]):
         df.at[i, 'text'] = (" ".join([stemmer.stem(word) for word in df.at[i, 'text'].split()]))
    
    print(data.at[0, 'text']) #
    
    # Stop_words
    if stop_words_flag:
        remove_stop_words(data)
    else:
        only_remove_punctuation(data)
        
    print(data.at[0, 'text']) #
    
    # Word representation
    if representation == 'BoW':
        for i in range(df.shape[0]):
            count_vectorizer = CountVectorizer(max_features = vocabulary_length)
            matrix = count_vectorizer.fit_transform(data.at[i, 'text']) #fit the vectorizer to synopses
            data.at[i, 'text'] = matrix.toarray()
        
    elif representation == 'tf-idf':
        for i in range(df.shape[0]):
            tfidf_vectorizer = TfidfVectorizer(max_features = vocabulary_length, use_idf=True)
            matrix = tfidf_vectorizer.fit_transform(data.at[i, 'text']) #fit the vectorizer to synopses
            data.at[i, 'text'] = matrix.toarray()
            
    print(data.at[0, 'text']) #

In [83]:
df = test.copy(deep = True)
print(test.at[0, 'text'])

MAESTRA DE *NUMBER* AÑOS QUE TUVO RELACIONES CON UN ALUMNO DE *NUMBER* DARÁ EDUCACIÓN SEXUAL EN EL CONALEP
Estados Unidos.- Luego de que se revelará el caso de una maestra estadounidense de *NUMBER* años de nombre Alexandria Vera que fue acusada de abusar de uno de sus alumno de *NUMBER* años (con quien tuvo un noviazgo e incluso quedó embarazada), el juez que analizó la situación finalmente determinó que la profesora no será encarcelada pero si deberá pagar una multa de USD*NUMBER* mil dólares, alejarse del adolescente para siempre, y dar un servicio comunitario de *NUMBER* horas como profesora en un CONALEP de la Ciudad de México.
El juez señala que el chico involucrado confesó que "tuvo relaciones con su consentimiento" y además sus papás aprobaban el noviazgo:
"Es un caso que llamó la atención de los medios internacionales porque ella tiene *NUMBER* y es muy atractiva, y él es un joven de apenas *NUMBER* años.
Como el juez que iba a determinar el castigo sentía la presión de muchas personas que querían que metiera a la cárcel a la maestra, sin embargo tuve que ser objetivo: fue el propio joven y sus padres quienes me pidieron que la dejara en libertad.
Además la verdad recordé que en mi etapa de secundaria yo y todos mis compañeros fantaseábamos con nuestras maestras (risas), así que pensé, ¿por qué ser tan severo si todos alguna vez tuvimos esa fantasía de chicos?.
Decidí que Alexandria no pisará la cárcel pero como castigo tendrá que ir a un CONALEP a dar clases. Todos sabemos la fama que tiene los del CONA, así que será un reto muy fuerte para ella contenerse porque si vuelve a cometer el mismo delito esta vez no se salvará de pisar la cárcel", confesó.
El magistrado señala que tomó la decisión de mandarla a la prepa mexicana para ponerle una "prueba de fuego":
"La profesora dejó en claro que le gustan chavitos y en el CONA los chicos estarán más que dispuestos a darle entrada porque ella es muy guapa.
Creo que es una prueba fuerte pero sensata para demostrar que efectivamente cambió y también ya está advertida; si ella vuelve a hacer lo mismo que con su anterior alumno esta vez no se salvará de pisar la cárcel.
Además, independientemente de la situación por la que fue enviada (abuso de menores), el CONA es un lugar en donde debe cuidarse y estar siempre alerta porque el ambiente en cuestión de seguridad está muy pesado. Será como si la mandáramos a una cárcel de un país centroamericano, solo que será temporal y no estará encerrada para siempre", puntualizó.

In [84]:
get_matrix(df, 'BoW', 2000, True)

maestr de *number* años que tuv relacion con un alumn de *number* dar educ sexual en el conalep estad unidos.- lueg de que se revel el cas de una maestr estadounidens de *number* años de nombr alexandri ver que fue acus de abus de uno de sus alumn de *number* años (con qui tuv un noviazg e inclus qued embarazada), el juez que analiz la situacion final determin que la profesor no ser encarcel per si deb pag una mult de usd*number* mil dolares, alej del adolescent par siempre, y dar un servici comunitari de *number* hor com profesor en un conalep de la ciud de mexico. el juez señal que el chic involucr confes que "tuv relacion con su consentimiento" y ademas sus papas aprob el noviazgo: "es un cas que llam la atencion de los medi internacional porqu ella tien *number* y es muy atractiva, y el es un jov de apen *number* años. com el juez que iba a determin el castig sent la presion de much person que quer que met a la carcel a la maestra, sin embarg tuv que ser objetivo: fue el propi jov y sus padr quien me pid que la dej en libertad. ademas la verd record que en mi etap de secundari yo y tod mis compañer fantas con nuestr maestr (risas), asi que pense, ¿por que ser tan sever si tod algun vez tuv esa fantas de chicos?. decid que alexandri no pis la carcel per com castig tendr que ir a un conalep a dar clases. tod sab la fam que tien los del cona, asi que ser un ret muy fuert par ella conten porqu si vuelv a comet el mism delit esta vez no se salv de pis la carcel", confeso. el magistr señal que tom la decision de mand a la prep mexican par pon una "prueb de fuego": "la profesor dej en clar que le gust chavit y en el con los chic estaran mas que dispuest a darl entrad porqu ella es muy guapa. cre que es una prueb fuert per sensat par demostr que efect camb y tambien ya esta advertida; si ella vuelv a hac lo mism que con su anterior alumn esta vez no se salv de pis la carcel. ademas, independient de la situacion por la que fue envi (abus de menores), el con es un lug en dond deb cuid y estar siempr alert porqu el ambient en cuestion de segur esta muy pesado. ser com si la mand a una carcel de un pais centroamericano, sol que ser temporal y no estar encerr par siempre", puntualizo.
['maestr', 'number', 'años', 'tuv', 'relacion', 'alumn', 'number', 'dar', 'educ', 'sexual', 'conalep', 'unidos', 'lueg', 'revel', 'cas', 'maestr', 'estadounidens', 'number', 'años', 'nombr', 'alexandri', 'ver', 'acus', 'abus', 'alumn', 'number', 'años', 'qui', 'tuv', 'noviazg', 'inclus', 'qued', 'embarazada', 'juez', 'analiz', 'situacion', 'final', 'determin', 'profesor', 'ser', 'encarcel', 'per', 'si', 'deb', 'pag', 'mult', 'usd', 'number', 'mil', 'dolares', 'alej', 'adolescent', 'par', 'siempre', 'dar', 'servici', 'comunitari', 'number', 'hor', 'com', 'profesor', 'conalep', 'ciud', 'mexico', 'juez', 'señal', 'chic', 'involucr', 'confes', 'tuv', 'relacion', 'consentimiento', 'ademas', 'papas', 'aprob', 'noviazgo', 'cas', 'llam', 'atencion', 'medi', 'internacional', 'porqu', 'tien', 'number', 'atractiva', 'jov', 'apen', 'number', 'años', 'com', 'juez', 'iba', 'determin', 'castig', 'sent', 'presion', 'much', 'person', 'quer', 'met', 'carcel', 'maestra', 'embarg', 'tuv', 'ser', 'objetivo', 'propi', 'jov', 'padr', 'pid', 'dej', 'libertad', 'ademas', 'verd', 'record', 'etap', 'secundari', 'tod', 'compañer', 'fantas', 'nuestr', 'maestr', 'risas', 'asi', 'pense', 'ser', 'tan', 'sever', 'si', 'tod', 'algun', 'vez', 'tuv', 'fantas', 'chicos', 'decid', 'alexandri', 'pis', 'carcel', 'per', 'com', 'castig', 'tendr', 'ir', 'conalep', 'dar', 'clases', 'tod', 'sab', 'fam', 'tien', 'cona', 'asi', 'ser', 'ret', 'fuert', 'par', 'conten', 'porqu', 'si', 'vuelv', 'comet', 'mism', 'delit', 'vez', 'salv', 'pis', 'carcel', 'confeso', 'magistr', 'señal', 'tom', 'decision', 'mand', 'prep', 'mexican', 'par', 'pon', 'prueb', 'fuego', 'profesor', 'dej', 'clar', 'gust', 'chavit', 'chic', 'estaran', 'mas', 'dispuest', 'darl', 'entrad', 'porqu', 'guapa', 'cre', 'prueb', 'fuert', 'per', 'sensat', 'par', 'demostr', 'efect', 'camb', 'tambien', 'advertida', 'si', 'vuelv', 'hac', 'mism', 'anterior', 'alumn', 'vez', 'salv', 'pis', 'carcel', 'ademas', 'independient', 'situacion', 'envi', 'abus', 'menores', 'lug', 'dond', 'deb', 'cuid', 'siempr', 'alert', 'porqu', 'ambient', 'cuestion', 'segur', 'pesado', 'ser', 'com', 'si', 'mand', 'carcel', 'pais', 'centroamericano', 'sol', 'ser', 'temporal', 'encerr', 'par', 'siempre', 'puntualizo']
[[0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 ...
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]]

In [85]:
df

     label                                               text
0        0  [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...
1        1  [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...
2        1  [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...
3        1  [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...
4        0  [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...
..     ...                                                ...
290      1  [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...
291      0  [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...
292      1  [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...
293      1  [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...
294      0  [[0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...

[295 rows x 2 columns]