In [51]:
import numpy as np
import pandas as pd
import re
import string
import nltk
nltk.download('punkt')
nltk.download('stopwords')
#from nltk import word_tokenize
from nltk.stem import SnowballStemmer
#from sklearn.feature_extraction.text import CountVectorizer
#from sklearn.feature_extraction.text import TfidfVectorizer

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Kevin\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Kevin\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [3]:
train = pd.read_csv('../data/Merged/train.csv')
train

                                                   text  label
0     RAE INCLUIRÁ LA PALABRA "LADY" EN EL DICCIONAR...      1
1     La palabra "haiga", aceptada por la RAE La Rea...      1
2     YORDI ROSADO ESCRIBIRÁ Y DISEÑARÁ LOS NUEVOS L...      1
3     UNAM capacitará a maestros para aprobar prueba...      0
4     Alerta: pretenden aprobar libros escolares con...      1
...                                                 ...    ...
2271  Recuperamos la historia de Aleixandra, la jove...      0
2272  Reproches, tensión y sinceridad: la comida en ...      0
2273  RT @ElMundoOpinion: "PSOE, PP, Ciudadanos y Vo...      0
2274  Rusia cita al embajador español por unas decla...      0
2275  Saeed Malekpour fue detenido en 2008, cuando v...      0

[2276 rows x 2 columns]

In [4]:
test = pd.read_csv('../data/Merged/test.csv')
test

                                                  text  label
0    MAESTRA DE *NUMBER* AÑOS QUE TUVO RELACIONES C...      1
1    Oxford lanza sus propios exámenes de certifica...      0
2    La RAE estudia incluir «machirulo» en el Dicci...      0
3    Malala Yousafzai anuncia que estudiará en Oxfo...      0
4    Nombran a Ricardo Arjona nuevo miembro de la R...      1
..                                                 ...    ...
290  Meryl Streep disfrutó unos premios Oscar tan m...      0
291  EL PLAGIO DE LANA DEL REY A RADIOHEAD FUE ACOR...      1
292  Ricardo Arjona lanza una serie documental por ...      0
293  Raúl Araiza sorprende a Andrea Legarreta con b...      0
294  Adal Ramones protagonizará el remake de El Cha...      1

[295 rows x 2 columns]

In [7]:
def max_length_text(df):
    max_length = 0
    for i in range(df.shape[0]):
        length = np.size(word_tokenize(df.at[i, 'text']))
        if length > max_length: max_length = length
    return max_length

In [26]:
def text_normalization(data): # (r"\w+")
    data['text'] = data['text'].apply(lambda x: x.lower())
    data['text'] = data['text'].apply((lambda x: re.sub('[%s]' % re.escape(string.punctuation), '', x)))

In [44]:
def remove_stop_words(data, language):
    stopwords = nltk.corpus.stopwords.words(language)
    for i in range(df.shape[0]):
        df.at[i, 'text'] = [word for word in nltk.word_tokenize(df.at[i, 'text']) if word not in stopwords]
        df.at[i, 'text'] = ' '.join(df.at[i, 'text'])

In [47]:
def apply_stemming(data, language):
    stemmer = SnowballStemmer(language)
    for i in range(df.shape[0]):
         df.at[i, 'text'] = (' '.join([stemmer.stem(word) for word in df.at[i, 'text'].split()]))

get_matrix representation

In [59]:
def get_matrix(data, representation, vocabulary_length = 2000, stop_words_flag = True, language = 'spanish'):

    df = data.copy(deep = True)
    
    text_normalization(df) # Text normalization
    
    # Stop_words
    if stop_words_flag:
        remove_stop_words(df, language)
    
    apply_stemming(df, language) # Stemming
    
    # Word representation
    if representation == 'BoW':
        count_vectorizer = CountVectorizer(max_features = vocabulary_length)
        matrix = count_vectorizer.fit_transform(df.text)
        
    #elif representation == 'tf-idf':
    
    return matrix, df

In [60]:
print(test.at[0, 'text'])

MAESTRA DE *NUMBER* AÑOS QUE TUVO RELACIONES CON UN ALUMNO DE *NUMBER* DARÁ EDUCACIÓN SEXUAL EN EL CONALEP
Estados Unidos.- Luego de que se revelará el caso de una maestra estadounidense de *NUMBER* años de nombre Alexandria Vera que fue acusada de abusar de uno de sus alumno de *NUMBER* años (con quien tuvo un noviazgo e incluso quedó embarazada), el juez que analizó la situación finalmente determinó que la profesora no será encarcelada pero si deberá pagar una multa de USD*NUMBER* mil dólares, alejarse del adolescente para siempre, y dar un servicio comunitario de *NUMBER* horas como profesora en un CONALEP de la Ciudad de México.
El juez señala que el chico involucrado confesó que "tuvo relaciones con su consentimiento" y además sus papás aprobaban el noviazgo:
"Es un caso que llamó la atención de los medios internacionales porque ella tiene *NUMBER* y es muy atractiva, y él es un joven de apenas *NUMBER* años.
Como el juez que iba a determinar el castigo sentía la presión de muchas personas que querían que metiera a la cárcel a la maestra, sin embargo tuve que ser objetivo: fue el propio joven y sus padres quienes me pidieron que la dejara en libertad.
Además la verdad recordé que en mi etapa de secundaria yo y todos mis compañeros fantaseábamos con nuestras maestras (risas), así que pensé, ¿por qué ser tan severo si todos alguna vez tuvimos esa fantasía de chicos?.
Decidí que Alexandria no pisará la cárcel pero como castigo tendrá que ir a un CONALEP a dar clases. Todos sabemos la fama que tiene los del CONA, así que será un reto muy fuerte para ella contenerse porque si vuelve a cometer el mismo delito esta vez no se salvará de pisar la cárcel", confesó.
El magistrado señala que tomó la decisión de mandarla a la prepa mexicana para ponerle una "prueba de fuego":
"La profesora dejó en claro que le gustan chavitos y en el CONA los chicos estarán más que dispuestos a darle entrada porque ella es muy guapa.
Creo que es una prueba fuerte pero sensata para demostrar que efectivamente cambió y también ya está advertida; si ella vuelve a hacer lo mismo que con su anterior alumno esta vez no se salvará de pisar la cárcel.
Además, independientemente de la situación por la que fue enviada (abuso de menores), el CONA es un lugar en donde debe cuidarse y estar siempre alerta porque el ambiente en cuestión de seguridad está muy pesado. Será como si la mandáramos a una cárcel de un país centroamericano, solo que será temporal y no estará encerrada para siempre", puntualizó.

In [62]:
matrix, df = get_matrix(test, representation = 'BoW')
print(df.at[0, 'text'])
print(matrix.shape)
print(matrix.toarray())

maestra de number años que tuvo relaciones con un alumno de number dará educación sexual en el conalep
estados unidos luego de que se revelará el caso de una maestra estadounidense de number años de nombre alexandria vera que fue acusada de abusar de uno de sus alumno de number años con quien tuvo un noviazgo e incluso quedó embarazada el juez que analizó la situación finalmente determinó que la profesora no será encarcelada pero si deberá pagar una multa de usdnumber mil dólares alejarse del adolescente para siempre y dar un servicio comunitario de number horas como profesora en un conalep de la ciudad de méxico
el juez señala que el chico involucrado confesó que tuvo relaciones con su consentimiento y además sus papás aprobaban el noviazgo
es un caso que llamó la atención de los medios internacionales porque ella tiene number y es muy atractiva y él es un joven de apenas number años
como el juez que iba a determinar el castigo sentía la presión de muchas personas que querían que metiera a la cárcel a la maestra sin embargo tuve que ser objetivo fue el propio joven y sus padres quienes me pidieron que la dejara en libertad
además la verdad recordé que en mi etapa de secundaria yo y todos mis compañeros fantaseábamos con nuestras maestras risas así que pensé ¿por qué ser tan severo si todos alguna vez tuvimos esa fantasía de chicos
decidí que alexandria no pisará la cárcel pero como castigo tendrá que ir a un conalep a dar clases todos sabemos la fama que tiene los del cona así que será un reto muy fuerte para ella contenerse porque si vuelve a cometer el mismo delito esta vez no se salvará de pisar la cárcel confesó
el magistrado señala que tomó la decisión de mandarla a la prepa mexicana para ponerle una prueba de fuego
la profesora dejó en claro que le gustan chavitos y en el cona los chicos estarán más que dispuestos a darle entrada porque ella es muy guapa
creo que es una prueba fuerte pero sensata para demostrar que efectivamente cambió y también ya está advertida si ella vuelve a hacer lo mismo que con su anterior alumno esta vez no se salvará de pisar la cárcel
además independientemente de la situación por la que fue enviada abuso de menores el cona es un lugar en donde debe cuidarse y estar siempre alerta porque el ambiente en cuestión de seguridad está muy pesado será como si la mandáramos a una cárcel de un país centroamericano solo que será temporal y no estará encerrada para siempre puntualizó
(295, 2000)
[[0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 ...
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]]

In [79]:
print(matrix[0])

  (0, 1050)	3
  (0, 422)	27
  (0, 1246)	7
  (0, 152)	4
  (0, 1544)	27
  (0, 1881)	3
  (0, 1610)	2
  (0, 318)	5
  (0, 1888)	10
  (0, 72)	3
  (0, 551)	1
  (0, 1716)	1
  (0, 576)	8
  (0, 558)	14
  (0, 641)	1
  (0, 1894)	1
  (0, 1035)	1
  (0, 1681)	3
  (0, 234)	2
  (0, 1889)	5
  (0, 642)	1
  (0, 1225)	1
  (0, 742)	3
  (0, 1899)	1
  (0, 1787)	3
  :	:
  (0, 992)	1
  (0, 647)	1
  (0, 1185)	1
  (0, 417)	1
  (0, 598)	1
  (0, 374)	1
  (0, 456)	1
  (0, 199)	1
  (0, 1797)	1
  (0, 1975)	1
  (0, 664)	2
  (0, 824)	1
  (0, 1024)	1
  (0, 94)	1
  (0, 1036)	1
  (0, 527)	1
  (0, 425)	1
  (0, 645)	1
  (0, 75)	1
  (0, 393)	1
  (0, 1693)	1
  (0, 1334)	1
  (0, 1759)	1
  (0, 646)	1
  (0, 1534)	1

In [63]:
df

                                                  text  label
0    maestra de number años que tuvo relaciones con...      1
1    oxford lanza sus propios exámenes de certifica...      0
2    la rae estudia incluir «machirulo» en el dicci...      0
3    malala yousafzai anuncia que estudiará en oxfo...      0
4    nombran a ricardo arjona nuevo miembro de la r...      1
..                                                 ...    ...
290  meryl streep disfrutó unos premios oscar tan m...      0
291  el plagio de lana del rey a radiohead fue acor...      1
292  ricardo arjona lanza una serie documental por ...      0
293  raúl araiza sorprende a andrea legarreta con b...      0
294  adal ramones protagonizará el remake de el cha...      1

[295 rows x 2 columns]